[submodule "CEngine/vendor/spdlog"]
	path = CEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CEngine/vendor/GLFW"]
	path = CEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "CEngine/vendor/imgui"]
	path = CEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "CEngine/vendor/glm"]
	path = CEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "CEngine/vendor/yaml-cpp"]
	path = CEngine/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
